<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
    <h1>App Schedule</h1>
    {% for schedul in schedule %}
    <td>Title: {{ schedul.schedule_topic }}</td>
    <hr>
    <td>Data/Hora: {{ schedul.schedule_date_hour }}</td>
    <hr>
    <td>Criado por: {{ schedul.schedule_name_creator }}</td>
    <hr>
    <td>Link: {{ schedul.schedule_meet_link }}</td>
    <hr>
    {% if schedul.schedule_description == null %}
        <td>Descrição: ---</td>
    {% else %}
        <td>Descrição: {{ schedul.schedule_description }}</td>
    {% endif %}
    <hr>
    <td>{{ schedul.schedule_duration }}</td>
    <hr>      
    <hr>      
    <hr>      
    {% endfor %}  
</body>
</html>